<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Principal</title>
</head>
<body>
    <!--Primera página-->
    <div data-role="page" data-teme="b" id="primera">
        <div data-role="header">
            <div data-role="header" style="overflow:hidden;">
                <h1>NAILS ART</h1>
                <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#primera">Inicio</a></li>
                        <li><a href="#segunda">Arte</a></li>
                        <li><a href="#tercera">Citas</a></li>
                    </ul>
                </div>
                <div role="main" class="ui-content">
                    <a href="#Portada" data-rel="popup" data-position-to="window" data-transition="fade">
                        <img class="popphoto" src="./Assets/PORTADA.jpg" alt="NailsA" style="width:100%">
                    </a>
                    <div data-role="popup" id="Portada" data-overlay-theme="b" data-theme="b" data-corners="false">
                        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                        <img class="popphoto" src="./Assets/PORTADA.jpg" style="max-height:512px;" alt="NailsA">
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!--Segundaa página--> 
    <div data-role="page" data-teme="b" id="segunda">
        <div data-role="header">
            <div data-role="header" style="overflow:hidden;" >
                <h1>NAILS ART</h1>
                <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#primera">Inicio</a></li>
                        <li><a href="#segunda">Arte</a></li>
                        <li><a href="#tercera">Citas</a></li>
                    </ul>
                </div>
                <div role="main" class="ui-content">
                    <center>
                        <a href="#imagen1" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas1.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen1" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas1.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                        <a href="#imagen2" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas2.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen2" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas2.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                        <a href="#imagen3" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas3.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen3" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas3.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                        <a href="#imagen4" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas6.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen4" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas6.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                        <a href="#imagen5" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas4.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen5" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas4.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                        <a href="#imagen6" data-rel="popup" data-position-to="window" data-transition="fade">
                            <img class="popphoto" src="./Assets/uñas5.jpg" alt="NailsA" style="width:45%">
                        </a>
                        <div data-role="popup" id="imagen6" data-overlay-theme="b" data-theme="b" data-corners="false">
                            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                            <img class="popphoto" src="./Assets/uñas5.jpg" style="max-height:512px;" alt="NailsA">
                        </div>
                    </center>
                </div>
            </div> 
        </div>
    </div> 
    
    <!--Tercera página-->
    <div data-role="page" data-teme="b" id="tercera">
        <div data-role="header">
            <div data-role="header" style="overflow:hidden;" id="tercera">
                <h1>NAILS ART</h1>
                <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#primera">Inicio</a></li>
                        <li><a href="#segunda">Arte</a></li>
                        <li><a href="#tercera">Citas</a></li>
                    </ul>
                </div>
                <div role="main" class="ui-content" >
                    <form action="/insertar" method="post">
                        <label for="txtFicha">Ficha:</label>
                        <input type="text" name="ficha" id="txtFicha">
                        <label for="txtNombre">Nombre:</label>
                        <input type="text" name="nombre" id="txtNombre">
                        <label for="txtDia">Dia:</label>
                        <input type="text" name="dia" id="txtDia">
                        <label for="txtHora">Hora:</label>
                        <input type="text" name="hora" id="txtHora">
                        <label for="txtModelo">Modelo de Uñas:</label>
                        <input type="text" name="modelo" id="txtModelo">
                        <label for="txtCosto">Costo:</label>
                        <input type="text" name="costo" id="txtCosto">
                        <center>
                            <button type="submit">Guardar</button>
                        </center>
                    </form>
                </div>
                <div role="main" class="ui-content">
                    <ul data-role="listview">
                        <% citas.forEach(cita=>{ %>
                            <li data-role="collapsible" data-iconpos="right" data-inset="false">
                                <h2>
                                    <%= cita.nombre %>
                                </h2>
                                <ul data-role="listview" data-theme="b">
                                  <li>Dia: <%= cita.dia %></li>
                                  <li>Hora: <%= cita.hora %></li>
                                  <li>Modelo de Uñas: <%= cita.modeloUñas %></li>
                                  <li>Costo: <%= cita.costo %></li>
                                </ul>
                                <% }) %>
                            </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>